In [ ]:
############# BUILT-IN FEATURES ####################

#seq() creates sequences 
#sort() sort a vector 
# rev() reverse elements in object 
# str() show the structure of an object
# append() merge objects together (works on vectors and lists)

In [1]:
# Example of the use of seq() 
seq(2,200, by = 4)

 [1]   2   6  10  14  18  22  26  30  34  38  42  46  50  54  58  62  66  70  74
[20]  78  82  86  90  94  98 102 106 110 114 118 122 126 130 134 138 142 146 150
[39] 154 158 162 166 170 174 178 182 186 190 194 198

In [4]:
# Example of the use of sort()
# First let's create a vector 
student_Grades <- c(9 , 8 , 10 , 3.5 , 8.7 , 3.9 , 9.7)
sort(student_Grades , decreasing = FALSE) # this will sort from the lowest to highest

[1]  3.5  3.9  8.0  8.7  9.0  9.7 10.0

In [8]:
# Example of the use of revert() 
vector <- 1:10
vector
rev(vector) # the elements will be reversed

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 10  9  8  7  6  5  4  3  2  1

In [10]:
# Example of the use of str() 
str(vector)
str(USArrests)

 int [1:10] 1 2 3 4 5 6 7 8 9 10
'data.frame':	50 obs. of  4 variables:
 $ Murder  : num  13.2 10 8.1 8.8 9 7.9 3.3 5.9 15.4 17.4 ...
 $ Assault : int  236 263 294 190 276 204 110 238 335 211 ...
 $ UrbanPop: int  58 48 80 50 91 78 77 72 80 60 ...
 $ Rape    : num  21.2 44.5 31 19.5 40.6 38.7 11.1 15.8 31.9 25.8 ...

In [13]:
# Example of the use of merge() 
Student_id <- c(14619 , 13987 , 23890 , 1459546 , 146780 , 35289)
Student_grades <- c(9.5 ,8.7 , 3.9 , 7.6 , 5.4 , 10)
Student_id
Student_grades
append(Student_id , Student_grades)

[1]   14619   13987   23890 1459546  146780   35289

[1]  9.5  8.7  3.9  7.6  5.4 10.0

 [1]   14619.0   13987.0   23890.0 1459546.0  146780.0   35289.0       9.5
 [8]       8.7       3.9       7.6       5.4      10.0

In [16]:
# is. to check the data type of an R object 
is.vector(Student_grades) # to check if an R object is a vector 
is.data.frame(USArrests) # to check if an R object is a dataframe

[1] TRUE

[1] TRUE

In [19]:
# as. to convert a datya type of an R object
as.list(Student_grades) # to convert student grades vector to a list
as.matrix(Student_grades) # to convert student grades to a matrix

[[1]]
[1] 9.5

[[2]]
[1] 8.7

[[3]]
[1] 3.9

[[4]]
[1] 7.6

[[5]]
[1] 5.4

[[6]]
[1] 10

     [,1]
[1,]  9.5
[2,]  8.7
[3,]  3.9
[4,]  7.6
[5,]  5.4
[6,] 10.0

In [37]:
###################### The Function Apply and sample ##############################
# sample function uses a range and then select a subset within that range 
# Example 1 : 
print(sample(x = 2:900 , 15))
# Apply function is used to apply a certain function over an object 
salary <- c(3210 , 1239 , 9876 , 2093)
addrand <-function(x) {
    ran <- sample(1:100 ,1)
    return(x+ran)
}
print(addrand(10)) # every time run , we got a different result

#lapply function is used to apply a certain function over an object , the result is a list

result <- lapply(salary , addrand)
print(result)

#sapply applies a function over a list or vector and returns a vector 
result <- sapply(salary ,addrand)
print(result)
result <- sapply(salary , function(num){num * 2})
print(result)

vector <- 1:10 

add_choice <- function(num,choice){
    return(num+choice)
}
print(sapply(vector,add_choice , choice = 100))

 [1] 867 723 851 678 232 319 749 365 804 342 890 535 454 869 410
[1] 78
[[1]]
[1] 3251

[[2]]
[1] 1297

[[3]]
[1] 9952

[[4]]
[1] 2138

[1] 3304 1331 9931 2122
[1]  6420  2478 19752  4186
 [1] 101 102 103 104 105 106 107 108 109 110

In [46]:
######################### Mathematical Functions ##########################

# sum() # returs the of all the values present in the input 

sum(salary)
sum(7 , 8 , 9 ,10)

# mean() # returns the average value 

mean(7 , 8 , 9 ,10)
mean(salary)

# round() # rounds values 

round(3.87920 , digits = 2)

# abs() # computes the absolute value 
abs(25)
abs(-25)
abs(salary) # applying it to a vector

[1] 16418

[1] 34

[1] 7

[1] 4104.5

[1] 3.88

[1] 25

[1] 25

[1] 3210 1239 9876 2093

In [51]:
################################## Regular Expressions ################################################

# A regular expression is a sequence of characters that define a search pattern.

text <- "Hi there , what is your plan for tomorrow ?"

# Example of grepl returns a logical value when a pattern is found in a corresponding character string
grepl ('tomorrow' , text)
grepl ('today' , text)

# Example of grep instead returns the position 

v <- c("b", "d" , "v" , "f")
grep('f' , v)

[1] TRUE

[1] FALSE

[1] 4

In [54]:
############################ Dates and Timestamps ########################################

################## Dates 

###### Sys.Date() # returns the current date 
###### as.date() # converts the data type to date # Example

my.date <- as.Date("Nov-03-90" , format = "%b-%d-%y")

# %d Day of the month 
# %m month of the year 
# %B Month(full name)
# %y Year(2 digit)
# %Y Year(4 digit)

as.Date("June , 01 , 2002" , format= "%B , %d , %Y")

[1] "2002-06-01"